body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background: #272D2D;
  color: #F2FDFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
    list-style-type: circle;
}

p {
    max-width: 40rem;
}

a:link {
    color: #4FC6E3;
}

a:visited {
    color: #D6C2CF;
}

a:hover, a:active {
    color: #21B0D4;
}

a:focus {
    background: #4FC6E3;
    color: #F2FDFF;
    outline: none;
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.min-vh-100 {
    min-height: 100vh;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-4 {
    margin-bottom: 2rem;
}

.mt-auto {
    margin-top: auto;
}

.ml-auto {
    margin-left: auto;
}

.p-3 {
    padding: 1rem;
}
